.forms {
    width: 400px;
    margin: 0 auto;
}
.forms-btn{
    margin-left: 30%;
    
}
.navbar-item{
    color:rgba(255,255,255,.55) !important;
}
.navbar-item:hover{
    color:rgba(255,255,255,.55)
}
nav{
    height: 90px !important;
}
.accounts{
    display: flex !important;
    padding-left: 30px;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
    line-height: 83px !important;
}
.black:hover  {
    color: rgb(228, 152, 122);
}
.card{
    border: none !important;
    border-radius: 10px !important;
}
.imagini{
    width: 100px !important;
    height: 100px !important;
}
a {
    color: aliceblue !important;
}
.card-body h6 {
    font-size: larger !important;
}